.avatar {
    border: 2px solid #fff; 
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem; }
.text-small, h6 + p, h6 + p + a, h6 + span, .h6 + span {
  font-size: 0.875rem; }
  .fs-6 {
    font-size: 0.925rem !important;
  }
.bg-twitch {
  background-color: #6441a5 !important;
}
.text-twitch, a{
  color: #6441a5 !important;
}
.bg-light {
  background-color: #f8f9fa !important;
}
